/***
   Rui Santos
   Complete project details at https://RandomNerdTutorials.com
***/

html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

body {
    background-image: url("Tris.gif");
    background-color: #cccccc;
}

h1 {
  color: #0F3376;
  padding: 2vh;
}
p {
  font-size: 1.5rem;
}
.button {
  display: inline-block;
  background-color: #008CBA;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  font-size: 30px;
  margin: 2px;
  cursor: pointer;
}
.button2 {
  background-color: #f44336;
}
.units {
  font-size: 1.2rem;
 }
.sensor-labels {
  font-size: 1.5rem;
  vertical-align:middle;
  padding-bottom: 15px;
}

/*
SLIDER
*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button_GREEN {
    background-color: #006400
}

.button_RED {
    background-color: #f44336;
}

.button_BLUE {
}

.button_TOP {
    background-color: #35be1a;
}

.button_SUN {
    background-color: #ad790d;
}

.button_AIR {
    background-color: #0c3c94;
}

.button_BTM {
    background-color: #252c3b;
}

#power-text {
    color: #2a2a2a;
    text-shadow: 0 1px 0 #ffba92;
}

#btn-bg {
    width: 82px;
    height: 82px;
    background: #cdd3c9;
    border-radius: 41px;
    margin: 0 auto 20px;
    border-bottom: 2px solid #2a2a2a;
    border-top: 2px solid #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#btn-bg.active {
    background: #2d3036;
    border-bottom: 2px solid #ffcab6;
    border-top: 2px solid #e66847;
}

#btn-highlight {
    width: 41px;
    height: 82px;
    background: #eee;
    margin-left: 41px;
}

.active #btn-highlight {
    background: #52555d;
}

#btn-ring {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 10px solid #2a2a2a;
    top: 10px;
    left: 10px;
    border-radius: 31px;
}

.active #btn-ring {
    border-color: #61fc8c;
}

#ring-line {
    width: 10px;
    height: 41px;
    margin: -14px auto;
    background: #2a2a2a;
    border-radius: 7px;
    border-right: 3px solid #eee;
    border-left: 3px solid #cdd3c9;
}

.active #ring-line {
    background: #61fc8c;
    border-right: 3px solid #52555d;
    border-left: 3px solid #2d3036;
}

div.hebrew {
    text-align: right;
}

div.english {
    text-align: left;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
}

    /* Popup arrow
    .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #f44336 transparent transparent transparent;
    }
 */
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

